@import '../../app3.scss';
// Main container for the MileageComponent
.mileage-container {
  text-align: center;
  padding: 20px;
}

// Heading for the MileageComponent
.mileage-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

// Input field for start mileage
.start-mileage-input {
  border: black solid 1px;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin-right: 10px; 
  margin-top: 10px;
  font-size: 18px;
  // Start mileage input field color
  background-color: $primary-color;
  color: #fff; // Text color
  padding: 10px;
}

// Input field for end mileage
.end-mileage-input {
  border: black solid 1px;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin-right: 10px; 
  margin-top: 10px;
  font-size: 18px;
  // End mileage input field color
  background-color: $primary-color;
  color: #fff; // Text color
  padding: 10px;
}

// Button to save mileage
.save-mileage-button {
  padding: 5px 20px; /* Adjust padding as needed */
  min-width: 100px; /* Set a minimum width */
  display: inline-block;
  border-radius: 25px;
  background-color: $accent-color; // Save button background color
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border: 5px outset black; /* Simplified border shorthand */
}


// Additional styling for the background
body {
  background-color: $background-color;
}

// Additional styling for alerts (if needed)
.alert {
  background-color: $alert-color;
  color: #fff; // Text color
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
